{% extends 'base.html' %}
{% block title %}
  Menu | Ky Lin
{% endblock %}

{% block content %}


    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Size</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->

                {% for food in menu %}
                    {% if 'APPETIZERS' in food.5  %}
                    <tr>
                        <td>{{ food.1 }}</td>
                        <td>${{ food.2 }}</td>
                        <td>{{ food.3 }}</td>
                        <td>{{ food.5 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for soups in menu %}
                    {% if 'SOUPS' in soups.5  %}
                    <tr>
                        <td>{{ soups.1 }}</td>
                        <td>${{ soups.2 }}</td>
                        <td>{{ soups.3 }}</td>
                        <td>{{ soups.5 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for noodlesoup in menu %}
                    {% if 'NOODLE SOUPS' in noodlesoup.5  %}
                    <tr>
                        <td>{{ noodlesoup.1 }}</td>
                        <td>${{ noodlesoup.2 }}</td>
                        <td>{{ noodlesoup.3 }}</td>
                        <td>{{ noodlesoup.5 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for rice in menu %}
                    {% if 'FRIED RICE' in rice.5  %}
                    <tr>
                        <td>{{ rice.1 }}</td>
                        <td>${{ rice.2 }}</td>
                        <td>{{ rice.3 }}</td>
                        <td>{{ rice.5 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for chowmein in menu %}
                    {% if 'CHOW MEIN' in chowmein.5  %}
                    <tr>
                        <td>{{ chowmein.1 }}</td>
                        <td>${{ chowmein.2 }}</td>
                        <td>{{ chowmein.3 }}</td>
                        <td>{{ chowmein.5 }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
        </tbody>
    </table>
{% endblock %}