{% extends "base.html" %}

{% block title %}Cart | Ky Lin{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-8">
		<h3 class="bold">
			<i class="glyphicon glyphicon-shopping-cart"></i> Your Shopping Cart
		</h3>
		<br>
		<div class="panel panel-primary">
			<div class="panel-body">
				{% for dish in menu_items %}
				<div class="row">
					<div class="col-lg-8">
						<h5 class="bold">{{ dish['dish_name'] }}</h5>
						<p>{{ "${:,.2f}".format(dish['price'] / 100) }}</p>
						<br />
						<p>
							<a href="{{ url_for('remove_from_cart', index=dish['index']) }}">
							<button type="button" class="btn btn-danger btn-xs">
								<i class="glyphicon glyphicon-trash">Remove Item</i>
							</button></a>
						</p>
					</div>
					<div class="col-lg-2">
						<h5>Quantity</h5>
						<p>
							{{ dish['quantity'] }}
						</p>
					</div>
					<div class="col-lg-2">
						<h5>Total</h5>
						<p>
							<strong>{{ "${:,.2f}".format(dish['total'] / 100) }}</strong>
						</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<h3 class="bold">
			<i class="glyphicon glyphicon-th-list"></i> Cart Summary
		</h3>

		<div class="panel panel-primary">
			<div class="panel-body">
				Current Cart Value
			</div>
			<ul class="list-group">
				<li class="list-group-item" style="color:black">
					<p>
						{{ quantity_total }} Subtotal <strong class="pull-right">{{ "${:,.2f}".format(grand_total / 100) }}</strong>
					</p>
					<p>
						Tax <strong class="pull-right">{{ "${:,.2f}".format((grand_total_plus_tax - grand_total) / 100) }}</strong>
					</p>
				</li>
				<li class="list-group-item" style="color:black">
					<p>Total <strong class="pull-right">{{ "${:,.2f}".format(grand_total_plus_tax / 100) }}</strong></p>
				</li>
			</ul>
			<div class="panel-footer">
				<a href="{{ url_for('checkout') }}" class="btn btn-primary btn-sm">
					Checkout <i class="glyphicon glyphicon-chevron-right"></i>
				</a>
				<a href="{{ url_for('order_page') }}" class="btn btn-link btn-sm pull-right">
					<i class="glyphicon glyphicon-chevron-left"></i> Continue Shopping
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}