{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <h3>Our Story</h3>

        <p>My Family immigrated from Malaysia and like many others they wanted to pursue a better life.  Realizing the potential of Atlantic City, they opened & owned  Melaka,
        a Malaysian & Chinese Restaurant which was located on Tennessee Avenue. Since then we've been proudly serving our neighborhood in  Egg Harbor Township where we opened Kylin in 2008. We take pride in our quality and hospitality and want each person to feel like family when they come in.
        Kylin is simply that, family.
        Welcome and enjoy!
        </p>
    </div>
</body>
{% endblock %}