<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block title %}
  Menu | Ky Lin
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename='menu.css')}}">
     <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<title>Menu</title>
<body class="background">
    <div class="container">
        <div class="menu">
            <h1 class="menu-group-heading">
                Appetizers
            </h1>
            <div class="menu-group">
                 <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried Shrimp Wonton (8)</span>
                            <span class="menu-item-price larger">$5.75</span>
                        </h3>
                     </div>
                        <img src="{{ url_for('static', filename= 'pictures/friedShrimpWonton.jpg')}}" alt="Fried Shrimp Wonton" class="menu-item-image largerImage">
                 </div>
                <div class="menu-item">
                    <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">BBQ Beef Stick (2)</span>
                            <span class="menu-item-price larger">$5.95</span>
                        </h3>
                    </div>
                        <img src="{{ url_for('static', filename= 'pictures/BBQBeefStick.jpg')}}" alt="BBQ Beef Stick " class="menu-item-image largerImage">
                 </div>
            </div>


            <div class="menu-group">
                 <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Spring Rolls - (2pcs)</span>
                            <span class="menu-item-price larger">$2.95</span>
                        </h3>
                    </div>
                 </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried Shrimp (5pcs) </span>
                            <span class="menu-item-price larger">$7.95</span>
                        </h3>
                    </div>
                 </div>
        </div>

            <div class="menu-group">
                <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork Egg Roll- (1pcs)   </span>
                            <span class="menu-item-price larger">$1.70</span>
                        </h3>
                    </div>
                 </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Shrimp Egg Roll   </span>
                            <span class="menu-item-price larger">$1.70</span>
                        </h3>
                    </div>
                 </div>
        </div>

             <div class="menu-group">
                <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried Chicken Nuggets   </span>
                            <span class="menu-item-price larger">$6.95</span>
                        </h3>
                     </div>
                </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried Wonton (8) Pork   </span>
                            <span class="menu-item-price larger">$5.75</span>
                        </h3>
                    </div>
                </div>
         </div>


            <div class="menu-group">
                <div class="menu-item pr-4">
                       <div class="menu-item-text">
                          <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork Egg Roll- (1pcs)   </span>
                            <span class="menu-item-price larger">$1.70</span>
                        </h3>
                    </div>
                </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Shrimp Egg Roll   </span>
                            <span class="menu-item-price larger">$1.70</span>
                        </h3>
                    </div>
                 </div>
         </div>

            <div class="menu-group">
             <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Shrimp Puff   </span>
                            <span class="menu-item-price larger">$8.95</span>
                        </h3>
                    </div>
             </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried Crab Stick (4)   </span>
                            <span class="menu-item-price larger">$4.95</span>
                        </h3>
                    </div>
                 </div>
         </div>


        <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">BBQ Ribs </span>
                            <span class="menu-item-price larger">(S) $8.25  (L) $15.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Boneless Spare Rib</span>
                            <span class="menu-item-price larger">(S) $7.95  (L) $12.95</span>
                        </h3>
                    </div>
                </div>
         </div>


         <div class="menu-group">
             <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">BBQ Beef Stick (2)</span>
                            <span class="menu-item-price larger">$5.95</span>
                        </h3>
                    </div>
             </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried or Steamed Dumpling (Pork) (6)  </span>
                            <span class="menu-item-price larger">$6.95</span>
                        </h3>
                    </div>
                 </div>
         </div>


        <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name text larger">Buffalo Wings w. Hot Spicy Sauce</span>
                            <span class="menu-item-price larger">$7.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fried Chicken Wings (4)  </span>
                            <span class="menu-item-price larger ">$5.95</span>
                        </h3>
                    </div>
                     <img src="{{ url_for('static', filename= 'pictures/FriedChickenWings.jpg')}}" alt="BScallion Pancake " class="menu-item-image largerImage">
                </div>
         </div>


            <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sesame Cold Noodle </span>
                            <span class="menu-item-price larger">$4.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Cheese Walton (8)</span>
                            <span class="menu-item-price larger">$5.75</span>
                        </h3>
                    </div>
                </div>
         </div>


            <div class="menu-group">
             <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">French Fries</span>
                            <span class="menu-item-price larger">$3.50</span>
                        </h3>
                    </div>
             </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">PU PU Platter For Two  </span>
                            <span class="menu-item-price larger" >$13.95</span>
                        </h3>
                    </div>
                 </div>
            </div>


            <div class="menu-group">
                 <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Scallion Pancake</span>
                            <span class="menu-item-price larger">$3.95</span>
                        </h3>
                    </div>
                 <img src="{{ url_for('static', filename= 'pictures/scallionPancake.jpg')}}" alt="BScallion Pancake " class="menu-item-image largerImage">
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Thai Fish Cake </span>
                            <span class="menu-item-price larger">$7.95</span>
                        </h3>
                    </div>
                </div>
         </div>


         <h1 class="menu-group-heading pt-4">
               Soups
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Wonton Soup</span>
                            <span class="menu-item-price larger">(S) $2.75  (L) $4.95</span>
                        </h3>
                    </div>
                 <img src="{{ url_for('static', filename= 'pictures/WontonSoup.jpg')}}" alt="Wanton Soup " class="menu-item-image largerImage">
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Egg Drop Soup </span>
                            <span class="menu-item-price larger">(S) $2.75  (L) $4.95</span>
                        </h3>
                    </div>
                    <img src="{{ url_for('static', filename= 'pictures/EggRollSoup.jpg')}}" alt="Egg Drop Soup " class="menu-item-image largerImage">
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name text larger">Hot & Sour Soup</span>
                            <span class="menu-item-price larger">(S) $2.75  (L) $4.95</span>
                        </h3>
                    </div>
                <img src="{{ url_for('static', filename= 'pictures/Hot&SourSoup.jpg')}}" alt="Hot & Sour Soup " class="menu-item-image largerImage">
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable & Bean Curd Soup</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>

                    </div>
                </div>
         </div>


      <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Seafood Soup</span>
                            <span class="menu-item-price larger">$13.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Soup w. Wonton</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
         </div>

            <div class="menu-group">
                <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Seafood w. Seaweed</span>
                            <span class="menu-item-price larger">$13.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Seafood Lemon Grass (Tom Yum) </span>
                            <span class="menu-item-price larger">$10.95</span>
                        </h3>
                    </div>
                </div>
         </div>


            <div class="menu-group">
                <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Shrimp Wonton Soup</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                <img src="{{ url_for('static', filename= 'pictures/ShrimpWontonNoodleSoup.jpg')}}" alt="Shrimp Wonton Noodle Soup " class="menu-item-image largerImage">
            </div>
        </div>

           <h1 class="menu-group-heading pt-4">
               Noodle Soups
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Pork or Chicken w. Veg Noodles Soup</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Fish Ball Noodle Soup </span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>

                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Noodle Soup</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name text larger">Curry Shrimp w. Noodles</span>
                            <span class="menu-item-price larger">$10.95</span>
                        </h3>
                    </div>
                </div>
         </div>


      <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name text larger">Seafood Lemon Grass w. Noodles</span>
                            <span class="menu-item-price larger">$10.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Shrimp Wonton Noodle Soup</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


            <div class="menu-group">
                <div class="menu-item pr-4">
                     <div class="menu-item-text">
                       <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef Flank Noodles Soup</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                <img src="{{ url_for('static', filename= 'pictures/BeefFlankNoodleSoup.jpg')}}" alt="Wanton Soup " class="menu-item-image largerImage">
                </div>
            </div>

            <h1 class="menu-group-heading pt-4">
              Fried Rice
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Fried Rice</span>
                            <span class="menu-item-price larger">S $5.95  L $8.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork or Chicken Fried Rice</span>
                            <span class="menu-item-price larger">S $5.95 L $9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef or Shrimp Fried Rice</span>
                            <span class="menu-item-price larger">S $5.95  L $10.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Crab Meat Fried Rice</span>
                            <span class="menu-item-price larger">S $5.95  L $9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


      <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Fried Rice</span>
                            <span class="menu-item-price larger">S $7.95  L $12.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Young Chow Fried Rice</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
                </div>
         </div>


            <div class="menu-group">
                <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Pineapple Fried Rice</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
                <img src="{{ url_for('static', filename= 'pictures/PinnapleFriedRice.jpg')}}" alt="Pineapple Fried Rice " class="menu-item-image largerImage">
            </div>
            <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Indonesia Fried Rice</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
                </div>
         </div>
                 <div class="menu-group">
                    <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Seafood Fried Rice</span>
                            <span class="menu-item-price larger">$13.95</span>
                        </h3>
                    </div>
                </div>
           </div>

             <h1 class="menu-group-heading pt-4">
              Chow Mein <br>(Served w. White Rice & Fried Noodle)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Chow Mein</span>
                            <span class="menu-item-price larger">S $5.95  L $8.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork or Chicken Chow Mein</span>
                            <span class="menu-item-price larger">S $5.95 L $9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef or Shrimp Chow Mein</span>
                            <span class="menu-item-price larger">S $5.95  L $10.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Crab Meat Chow Mein</span>
                            <span class="menu-item-price larger">S $5.95  L $9.95</span>
                        </h3>
                    </div>
                </div>
           </div>
           <div class="menu-group">
               <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Chow Mein</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
               </div>
           </div>

              <h1 class="menu-group-heading pt-4">
              Lo Mein <br>(Soft Noodle)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Lo Mein</span>
                            <span class="menu-item-price larger">S $5.95  L $8.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork or Chicken Lo Mein</span>
                            <span class="menu-item-price larger">S $5.95 L $9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef or Shrimp Lo Mein</span>
                            <span class="menu-item-price larger">S $5.95  L $10.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Crab Meat Lo Mein</span>
                            <span class="menu-item-price larger">S $5.95  L $9.95</span>
                        </h3>
                    </div>
                </div>
            </div>
           <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Lo Mein</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
               </div>
           </div>

              <h1 class="menu-group-heading pt-4">
              Vegetable $ Bean Curd <br>(Served w. White Rice)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sauteed Broccoli</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sauteed Mixed Vegetables</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sauteed String Beans</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Broccoli w. Garlic Sauce</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
          </div>

          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Ma Po Tofu (Shrimp & Pork)</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
            </div>

                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Mixed Vegetables w. Curry Gravy</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
                </div>
          </div>

            <h1 class="menu-group-heading pt-4">
              Chicken <br>(Served w. White Rice)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Chicken w. Broccoli</span>
                            <span class="menu-item-price larger">S $7.99 L $11.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Chicken w. Mixed Veg</span>
                            <span class="menu-item-price larger">S $7.99 L $11.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Chicken w. Black Bean Sauce</span>
                            <span class="menu-item-price larger">S $7.99 L $11.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Moo Goo Gai Pan/span>
                            <span class="menu-item-price larger">S $7.99 L $11.95</span>
                        </h3>
                    </div>
                </div>
          </div>

          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Slice Chicken w. String Bean</span>
                            <span class="menu-item-price larger">$11.95</span>
                        </h3>
                    </div>
            </div>

                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Chicken w. Cashew Nuts</span>
                            <span class="menu-item-price larger">$11.95</span>
                        </h3>
                    </div>
                </div>
          </div>

              <h1 class="menu-group-heading pt-4">
              Beef<br>(Served w. White Rice)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef w. Broccoli</span>
                            <span class="menu-item-price larger">S $8.99 L $12.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef w. Mixed Veg</span>
                            <span class="menu-item-price larger">S $8.99 L $12.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef w. Mushroom</span>
                            <span class="menu-item-price larger">S $8.99 L $12.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Beef w. Oyster Sauce<span>
                            <span class="menu-item-price larger">S $8.99 L $12.95</span>
                        </h3>
                    </div>
                </div>
          </div>

          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Pepper Steak w. Onion</span>
                            <span class="menu-item-price larger">S $8.99 L $12.95</span>
                        </h3>
                    </div>
            </div>

                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Beef w. String Beans</span>
                            <span class="menu-item-price larger">$11.95</span>
                        </h3>
                    </div>
                </div>
          </div>


              <h1 class="menu-group-heading pt-4">
              Vegetable $ Bean Curd <br>(Served w. White Rice)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sauteed Broccoli</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sauteed Mixed Vegetables</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
         </div>


          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sauteed String Beans</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Broccoli w. Garlic Sauce</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
          </div>

          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Ma Po Tofu (Shrimp & Pork)</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
            </div>

                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Mixed Vegetables w. Curry Gravy</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
                </div>
          </div>

            <h1 class="menu-group-heading pt-4">
              Ho Fun or Mei Fun <br>(Flat Noodle or Rice Noodle)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Ho Mein or Mei Fun</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork or Chicken Ho Fun or Mei Fun</span>
                            <span class="menu-item-price larger">$11.95</span>
                        </h3>
                    </div>
                </div>
         </div>

          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef or Shrimp Ho Fun or Mei Fun</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Ho Fun or Mei Fun</span>
                            <span class="menu-item-price larger">S $5.95  L $9.95</span>
                        </h3>
                    </div>
                </div>
          </div>
           <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Mei Fun</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
               </div>

              <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Singapore Mei Fun (Shrimp & Chicken</span>
                            <span class="menu-item-price larger">$13.95</span>
                        </h3>
                    </div>
                </div>
          </div>
            <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Eggplant w. Garlic Sauce</span>
                            <span class="menu-item-price larger">$10.95</span>
                        </h3>
                    </div>
               </div>
            </div>


              <h1 class="menu-group-heading pt-4">
              Egg Foo Young <br>(w. White Rice)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Vegetable Egg Roll Foo Young</span>
                            <span class="menu-item-price larger">$8.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Roast Pork or Chicken Egg Foo Young</span>
                            <span class="menu-item-price larger">$9.95</span>
                        </h3>
                    </div>
                </div>
         </div>

          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Beef or Shrimp Egg Foo Young</span>
                            <span class="menu-item-price larger">$10.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">House Special Egg Foo Young</span>
                            <span class="menu-item-price larger">$10.95</span>
                        </h3>
                    </div>
                </div>
          </div>

              <h1 class="menu-group-heading pt-4">
              Sweet & Sour <br>(w. White Rice)
            </h1>
          <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sweet & Sour Pork</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
            </div>
                <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sweet & Sour Chicke</span>
                            <span class="menu-item-price larger">$12.95</span>
                        </h3>
                    </div>
                </div>
         </div>
           <div class="menu-group">
            <div class="menu-item pr-4">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger">Sweet & Sour Shrimp</span>
                            <span class="menu-item-price larger">$15.95</span>
                        </h3>
                    </div>
               </div>
              <div class="menu-item">
                     <div class="menu-item-text">
                        <h3 class="menu-item-heading">
                            <span class="menu-item-name larger text">Sweet & Sour Fish</span>
                            <span class="menu-item-price larger">$15.95</span>
                        </h3>
                    </div>
                </div>
               </div>

   </div>
 </div>
 </div>
</body>
{% endblock %}