{% extends 'base.html' %}
{% block title %}
  Order | Ky Lin
{% endblock %}

{% block content %}

    <h1>Menu</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Size</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>

        {% for dish in menu %}
                    {% if 'Appetizers' in dish.category  %}
                    <tr>
                        <td>{{ dish.dish_name }}</td>
                        <td>${{dish.price / 100.0 }}</td>
                        <td>{{ dish.size }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{ dish.category }}
                        <td>
                            <form action="{{ url_for('add_to_cart') }}" method="POST">
							    <div>
								    {{ form.csrf_token }}

								    {{ form.quantity(class='form-control', type='number', min=1, max=100, step=1, value=1) }}

								    {{ form.menu_id(value=dish.menu_id) }}
							    </div>
                                    <div>
				                        <button type="submit" class="btn btn-primary">
					                    <i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
				                        </button>
			                        </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}

                {% for dish in menu %}
                    {% if 'Soups' in dish.category  %}
                    <tr>
                        <td>{{ dish.dish_name }}</td>
                        <td>${{dish.price / 100 }}</td>
                        <td>{{ dish.size }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{ dish.category }}</td>
                        <td>
                            <form action="{{ url_for('add_to_cart') }}" method="POST">
							    <div>
								    {{ form.csrf_token }}

								    {{ form.quantity(class='form-control', type='number', min=1, max=100, step=1, value=1) }}

								    {{ form.menu_id(value=dish.menu_id) }}
							    </div>
                                    <div>
				                        <button type="submit" class="btn btn-primary">
					                    <i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
				                        </button>
			                        </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for dish in menu %}
                    {% if 'Noodle Soups' in dish.category  %}
                    <tr>
                        <td>{{ dish.dish_name }}</td>
                        <td>${{dish.price / 100 }}</td>
                        <td>{{ dish.size }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{ dish.category }}</td>
                        <td>
                            <form action="{{ url_for('add_to_cart') }}" method="POST">
							    <div>
								    {{ form.csrf_token }}

								    {{ form.quantity(class='form-control', type='number', min=1, max=100, step=1, value=1) }}

								    {{ form.menu_id(value=dish.menu_id) }}
							    </div>
                                    <div>
				                        <button type="submit" class="btn btn-primary">
					                    <i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
				                        </button>
			                        </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for dish in menu %}
                    {% if 'Fried Rice' in dish.category  %}
                    <tr>
                        <td>{{ dish.dish_name }}</td>
                        <td>${{dish.price / 100 }}</td>
                        <td>{{ dish.size }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{ dish.category }}</td>
                        <td>
                            <form action="{{ url_for('add_to_cart') }}" method="POST">
							    <div>
								    {{ form.csrf_token }}

								    {{ form.quantity(class='form-control', type='number', min=1, max=100, step=1, value=1) }}

								    {{ form.menu_id(value=dish.menu_id) }}
							    </div>
                                    <div>
				                        <button type="submit" class="btn btn-primary">
					                    <i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
				                        </button>
			                        </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for dish in menu %}
                    {% if 'Chow Mein' in dish.category  %}
                    <tr>
                        <td>{{ dish.dish_name }}</td>
                        <td>${{dish.price / 100 }}</td>
                        <td>{{ dish.size }}</td>
                        <td>{{ dish.description }}</td>
                        <td>{{ dish.category }}</td>
                        <td>
                           <form action="{{ url_for('add_to_cart') }}" method="POST">
							    <div>
								    {{ form.csrf_token }}

								    {{ form.quantity(class='form-control', type='number', min=1, max=100, step=1, value=1) }}

								    {{ form.menu_id(value=dish.menu_id) }}
							    </div>
                                    <div>
				                        <button type="submit" class="btn btn-primary">
					                    <i class="glyphicon glyphicon-shopping-cart"></i> Add To Cart
				                        </button>
			                        </div>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
        </tbody>
    </table>
{% endblock %}