{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock%}

{% block content %}
<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
							<h2 class="fw-bold mb-2 text-uppercase">Sign UP</h2>
							<br>

							<form method="POST">
								<div class="form-outline form-white mb-4">
                                <input type="text" name="first_name" placeholder="First Name" id="first_name" class="form-control form-control-lg" required>
                                <label class="form-label" for="typeEmailX">First Name</label>
                            	</div>
								<div class="form-outline form-white mb-4">
                                <input type="text" name="last_name" placeholder="Last Name" id="last_name" class="form-control form-control-lg" required>
                                <label class="form-label" for="typeEmailX">Last Name</label>
                            	</div>
								<div class="form-outline form-white mb-4">
                                <input type="text" name="phone" placeholder="Phone Number" id="phone" class="form-control form-control-lg" required>
                                <label class="form-label" for="typeEmailX">Phone</label>
                            	</div>
								<div class="form-outline form-white mb-4">
                                <input type="text" name="address" placeholder="Address" id="address" class="form-control form-control-lg" required>
                                <label class="form-label" for="typeEmailX">Address</label>
                            	</div>
								<div class="form-outline form-white mb-4">
                                <input type="text" name="password" placeholder="Password" id="password" class="form-control form-control-lg" required>
                                <label class="form-label" for="typeEmailX">Password</label>
                            	</div>
								<div class="form-outline form-white mb-4">
                                <input type="text" name="email" placeholder="Email" id="email" class="form-control form-control-lg" required>
                                <label class="form-label" for="typeEmailX">Email Address</label>
                            	</div>


								<div class="msg">{{ msg }}</div>
								<button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
 <style>
     .navbar{
    font-size: 25px;
    }
   </style>
{% endblock %}